__pycache__
config.json
.mp/
venv/
google-maps-scraper-0.9.7/
niche.txt
*.exe
auto.sh
client_secrets.json
token.pickle
test-upload-file.mp4
upload_youtube.py
append_redis.py
spy-164938.mp3
shorts
.har
client_secret_2.json
client_secret_3.json
test-upload2.mp4
*.pickle
